
.stat-page {
	$side-padding: 32px;
	display: flex;
	flex-direction: row;

	.stat-list-wrapper {
		width: var(--stat-sidenav-width);
		min-width: var(--stat-sidenav-width);
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		border-right: 1px solid var(--border-color);
		overflow-y: auto;
	}

	.stat-content {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: calc(100% - var(--stat-sidenav-width));
		overflow-y: auto;

		.stat-content-title {
			padding: 16px $side-padding 0 $side-padding;
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 1.6;
			letter-spacing: 0.0075em;
		}

		.stat-table-wrapper {
			display: flex;
			margin: 16px $side-padding 32px $side-padding;
			border: 1px solid var(--border-color);
			border-radius: 4px;
		}
	}
}

.stat-page-failed {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: min(100px, 12vb);
}
