.user-management-page {
	padding: 16px;
	background-color: #1976d220;

	.wrapper {
		border-radius: 16px;
		padding: 12px;
		background-color: #fff;

		h1 {
			margin: 0 0 8px;
		}

		.legend {
			padding: 0 12px;
		}

		.readonly-role {
			line-height: 39px;
		}

		#table-container {
			.MuiSelect-select {
				padding-top: 8px;
			}
		}

		tbody > tr:last-of-type > td {
			border-bottom: 0;
		}
	}
}
