.profile-card {
	border-radius: 12px;
	background-color: #00000011;
	padding: 12px;

	.username {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		white-space: nowrap;
	}

	.team-number {
		white-space: nowrap;
	}
}
