
.stat-graph-wrapper {
	width: 100%;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 16px;

	.content {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		height: 40%;

		box-sizing: border-box;
		border: 1px solid var(--text-color);
		border-radius: 4px;

		.bar {
			flex-grow: 1;
			margin-left: 4px;
			margin-right: 4px;
			background-color: #aa2456;
		}
	}

	.team-number-wrapper {
		display: flex;
		flex-direction: row;

		.team-number {
			flex-grow: 1;
			flex-basis: 4em;
			text-align: center;
		}
	}

}
