
.stat-list-header {
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	padding: 16px 16px 0 16px;
	background-color: #fff;
	z-index: 999;

	.page-title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: 0.0075em;
		margin: 0;
	}

	#clear-button {
		font-size: 14px;
		line-height: 20px;
	}
}

.stat-list-item {
	margin-right: auto;
}

.stat-list-color-legend {
	height: 8px;
	width: 8px;
	border-radius: 2px;
}
