.team-detail-dialog__header {
	display: grid;
	padding: 12px;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;

	#team-detail-dialog__back-button {
		margin-right: auto;
		margin-left: -8px;
	}

	#team-detail-dialog__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
	}
}
