
#appBar {

	.download-button {
		margin-left: 4px;
		margin-right: 8px;
	}

	.language-button {
		margin-left: auto;
		margin-right: 4px;
	}

	.menu-button {
		margin-right: 16px;
	}

}

#account-menu {
	.profile-card-link {
		text-decoration: unset;
		color: unset;

		&:hover > * {
			background-color: #1976d233;
		}
	}
}

.nav-drawer {

	&-content {
		height: 100%;
		min-width: 250px;
		color: var(--text-color);
	}

	.copyright-notice {
		color: rgba(0, 0, 0, 0.6);
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		padding: 8px 16px;
	}

	&-header {
		box-sizing: border-box;
		padding: 8px var(--content-margin);
		height: var(--header-height);
	}

	&-divider {
		height: 0;
		width: 100%;
		border-bottom: 1px solid var(--border-color);
	}
}

