
@mixin app-title {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.334;
	letter-spacing: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#appBar {
	.application-title {
		@include app-title;
	}

	.download-button {
		margin-left: 4px;
		margin-right: 8px;
	}

	.language-button {
		margin-left: auto;
		margin-right: 4px;
	}

	.menu-button {
		margin-right: 16px;
	}
}

#account-menu {
	#switch-event-link {
		text-decoration: unset;
		color: unset;
	}
}

.nav-drawer {

	.application-title {
		@include app-title;
	}

	&-content {
		height: 100%;
		min-width: 250px;
		color: var(--text-color);
	}

	.copyright-notice {
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		padding: 8px 16px;
	}

	&-header {
		box-sizing: border-box;
		padding: 8px var(--content-margin);
		height: var(--header-height);
	}

	&-divider {
		height: 0;
		width: 100%;
	}
}

