
.team-notes-image {
	width: 100%;
	margin-bottom: 16px;
}

.team-notes-list {
	display: flex;
	flex-direction: column;
	row-gap: 16px;

	.team-note {
		display: flex;
		flex-direction: column;

		&-content {
			overflow-wrap: break-word;
			hyphens: auto;
		}

		&-author {
			color: grey;
		}
	}
}
