
.stat-page {
	display: flex;
	flex-direction: row;

	.stat-list-wrapper {
		width: var(--stat-sidenav-width);
		min-width: var(--stat-sidenav-width);
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		border-right: 1px solid var(--border-color);
		overflow-y: auto;
	}

	.stat-content {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: calc(100% - var(--stat-sidenav-width));

		.stat-table-wrapper {
			display: flex;
			margin-top: 16px;
			margin-bottom: 32px;
			margin-right: 32px;
			margin-left: 32px;
			max-height: 70%;
			border: 1px solid var(--border-color);
			border-radius: 4px;
			overflow-y: auto;
		}
	}
}
