
.login-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.content-wrapper {
		margin-top: 48px;
		height: fit-content;
		width: fit-content;
		border-radius: 4px;
		box-shadow:
			0 2px 4px -1px rgb(0 0 0 / 20%),
			0 4px 5px 0 rgb(0 0 0 / 14%),
			0 1px 10px 0 rgb(0 0 0 / 12%);
	}

	&-form {
		display: flex;
		flex-direction: column;
		min-width: 20rem;
		padding: 16px;

		&-submit {
			margin-top: 16px !important;
		}

		.title {
			margin: 0;
			padding-bottom: 12px;
			font-weight: 400;
			font-size: 34px;
			line-height: 40px;
			letter-spacing: 0.00735em;
		}
	}

	&-title-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		row-gap: 8px;
		column-gap: 20px;
		padding-bottom: 8px;

		#game-year-input {
			min-width: 5em;
		}
	}

	.link-section {
		display: flex;
		flex-direction: column;
		padding-top: 32px;
	}

	#link-section__title {
		font-weight: unset;
		font-size: unset;
		line-height: unset;
		padding-bottom: 4px;
	}

	&__variant-link {
		color: #1976D2;
		width: fit-content;
		padding-top: 8px;

		&:hover {
			cursor: pointer;
		}
	}
}
