
.comment-section {
	display: flex;
	flex-direction: column;
	padding: 8px;

	.topic {
		padding-top: 16px;

		&-name {
			margin: 0;
			text-decoration: underline;
		}

		&-comments {
			padding-top: 8px;
			padding-left: 12px;

			.comment {
				display: flex;
				flex-direction: row;
				column-gap: 16px;

				&__info {
					display: flex;
					flex-direction: column;

					&__match-number {
						font-weight: 600;
					}

					&__creator {
						color: #777777;
						font-size: 12px;
						line-height: 14px;
						font-weight: 600;
					}
				}

			}
		}
	}
}
