
.comment-section {
	display: flex;
	flex-direction: column;

	&-title {
		text-decoration: underline;
		padding-bottom: 20px;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
	}

	#topic-filter-control {
		min-width: 12em;
		width: fit-content;
		margin-left: 8px;
	}

	.topics-list {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		padding-top: 16px;
		padding-left: 8px;
	}
}
