
#app-bar {
	.name-and-version {
		display: flex;
		align-items: baseline;
		column-gap: 8px;
	}

	#account-button {
		margin-left: auto;
	}

}

#switch-event-link {
	text-decoration: unset;
	color: unset;
}
