
#appBar {

	.download-button {
		margin-left: 4px;
		margin-right: 8px;
	}

	.language-button {
		margin-left: auto;
		margin-right: 4px;
	}

	.menu-button {
		margin-right: 16px;
	}
}

.nav-drawer {

	&-content {
		height: 100%;
		min-width: 250px;
		color: var(--text-color);
	}

	&-header {
		box-sizing: border-box;
		padding: 8px var(--content-margin);
		height: var(--header-height);
	}

	&-divider {
		height: 0;
		width: 100%;
		border-bottom: 1px solid var(--border-color);
	}
}

