
#appBar {

	.download-button {
		margin-left: 4px;
		margin-right: 8px;
	}

	#language-button {
		margin-left: auto;
		margin-right: 4px;
	}

	.menu-button {
		margin-right: 16px;
	}

}

#account-menu {
	.profile-card-link {
		text-decoration: unset;
		color: unset;

		&:hover > * {
			background-color: #1976d233;
		}
	}
}
