
.manage-page {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--header-height));

  .match-list-wrapper {
    width: 300px;
    border-right: 1px solid #dbdedf;
    overflow-y: auto;
  }
}
