
.event-management-page {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	padding: 16px;

	.header-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}

	.event-title-and-refresh {
		display: flex;
		flex-direction: row;
	}

	.last-updated {
		display: flex;
		font-size: 12px;
		line-height: 16px;
		color: #444;
	}

	.reload-button {
		width: fit-content;
		height: fit-content;
		margin-left: 24px;
	}

	td, th {
		padding: 12px;
	}

	.action-button {
		padding: 2px;
	}

}
