
.planning-page {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	padding: 16px;

	.team-selectors {
		display: flex;
		flex-direction: column;
		min-width: 140px;
		max-width: 480px;
		row-gap: 16px;

		.action-area {
			display: flex;
			flex-direction: row;
			column-gap: 16px;
			justify-content: center;

			& > button {
				min-width: 10em;
			}
		}
	}

	.gamemodes {
		display: flex;
		flex-direction: column;
		row-gap: 64px;

		.gamemode {
			display: flex;
			flex-direction: column;

			&-header {
				font-weight: 600;
				font-size: 28px;
				line-height: 36px;
				margin-bottom: 16px;
			}

			&-objectives {
				display: flex;
				flex-direction: column;
				row-gap: 32px;
				padding-left: 12px;

				.objective {
					display: flex;
					flex-direction: column;

					&-header {
						color: #777;
						font-weight: 600;
						font-size: 20px;
						line-height: 24px;
					}

					.comparison {
						display: flex;
						flex-direction: column;
						row-gap: 24px;

						&-grids {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							row-gap: 24px;
							column-gap: 32px;
						}

						&-grid {
							display: flex;
							flex-direction: column;
							row-gap: 4px;

							.team-number {
								color: #777;
								font-weight: 600;
							}
						}
					}
				}
			}
		}
	}
}
