
:root {
	font-family: Roboto, Helvetica, Arial, sans-serif;

	--header-height: 64px;
	--content-margin: 24px;
	--border-color: rgba(0, 0, 0, 0.24);
	--text-color: #000000;
	--header-text-color: #ffffff;
}

/* Adjust settings for small devices */
@media only screen and (max-width: 600px) {
	:root {
		--header-height: 56px;
		--content-margin: 16px;
	}
}

body {
	max-height: 100vh;
	margin: 0;
	padding: 0;
}

.page {
	height: calc(100vh - var(--header-height));
}
