.team-list__header {
	display: flex;
	flex-direction: column;
	padding: 16px;

	.page-title {
		margin-bottom: 4px;
	}
}

.team-list-item {
	$max-img-size: 40px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	column-gap: 12px;
	font-size: 18px;
	line-height: 24px;

	.team-image-icon-wrapper {
		display: flex;
		justify-content: center;
		height: $max-img-size;
		width: $max-img-size;

		.team-image-icon {
			max-height: $max-img-size;
			border-radius: 8px;
		}

	}

	.team-image-icon-missing {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--border-color);
		border-radius: 4px;
		height: $max-img-size;
		width: $max-img-size;
		color: var(--border-color);
	}
}
