
.match-list-item {
	display: grid;
	grid-template-columns: 1fr 1fr min-content;
	width: 100%;
	font-size: 16px;
	line-height: 20px;

	&.match-list-item-mobile {
		padding: 4px 0;
	}

	&.hidden {
		opacity: 0.3;
	}

	.left-info {
		display: flex;
		flex-direction: column;

		.match-number {
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
		}
	}

	.creator {
		color: #444444;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.chevron {
		display: flex;
		align-items: center;
		padding-left: 20px;
	}
}
