
.team-page {
	display: flex;
	flex-direction: row;

	.team-list-wrapper {
		min-width: 200px;
		width: 200px;
		border-right: 1px solid var(--border-color);
		overflow-y: auto;
	}

	.team-detail-wrapper {
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 8px;
	}
}

.team-page-mobile {
	display: flex;
	flex-direction: column;
	padding: 16px;

	.team-detail-wrapper {
		display: flex;
		flex-direction: column;
	}
}
