
.team-page {
	display: flex;
	flex-direction: row;

	.team-list-wrapper {
		min-width: 180px;
		width: 180px;
		border-right: 1px solid var(--border-color);
		overflow-y: auto;
	}

	.team-detail-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		padding: 20px 16px 32px 16px;
		overflow-y: auto;
	}
}

.team-page-mobile {
	display: flex;
	flex-direction: column;
}

.team-detail-dialog__header {
	display: grid;
	padding: 12px;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;

	#team-detail-dialog__back-button {
		margin-right: auto;
	}

	#team-detail-dialog__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
	}
}
