.login-page {
	$offwhite: #FAF9F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FE5000;
	background-color: #02243E;
	padding: 16px;

	.login-form {
		display: flex;
		flex-direction: column;
		margin-top: 64px;
	}

	.login-form__title {
		margin-bottom: 16px;
	}

	#team-number-input, #scouter-name-input, #event-code-input, #secret-code-input, #tba-code-input {
		color: $offwhite;
	}

	.adornment {
		& > p {
			color: $offwhite;
		}
	}

	.submit-button {
		margin-top: 16px;
	}
}
