
.match-detail {
  display: flex;
  flex-direction: row;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 12px;
  margin: 8px;
  height: fit-content;
  min-width: 200px;

  &.hidden {
    background-color: #eeeeee;
    border-style: dashed;
    border-color: #aaaaaa;
  }

  .info {
    display: flex;
    flex-direction: column;

    .match-number {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;

      .hidden {
        color: #CC3333;
        margin-left: 16px;
      }
    }

    .team-number {
      font-size: 16px;
      line-height: 18px;
    }

    .creator {
      color: #666666;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
    }

    .action-area {
      margin-top: 12px;
    }

    .objectives {
      .gamemode {
        margin-top: 16px;

        .gamemode-title {
          text-transform: capitalize;
          font-weight: 600;
          color: #666666;
          margin-bottom: 4px;
        }
      }

      //.objective-list {
      //  &-scores {
      //    display: grid;
      //    grid-template-columns: repeat(9, 1fr);
      //    gap: 4px;
      //    margin-left: 8px;
      //  }
      //
      //  &-score {
      //    display: flex;
      //    width: 32px;
      //    height: 32px;
      //    border: 1px solid #dbdedf;
      //    border-radius: 4px;
      //    align-items: center;
      //    justify-content: center;
      //  }
      //}

    }
  }

  .action-area {
    margin-left: auto;
  }

}
